img {
    width:100%;
}

/*.body-content{
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
}*/

.indexContent {
    padding-left:15px;
    padding-right:15px;
    text-align: justify;
}

.instructorImage {
    padding-left:0px;
    padding-right:0px;
    padding-bottom:15px;
}

.instructorName {
    padding-left:15px;
}

.section {
    text-align:center;
}

.welcomeText {
    color:antiquewhite;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#festivalTitle{
    font-size:60px;
    text-align:center;
}

#festivalDates {
    font-size:28px;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/TitleBackground.jpg");
    background-size: cover;
    background-color: slategrey;
    min-height: 500px;
}

.instructor{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:10px;
    margin-bottom:5px;
}

.instructor:hover{
    background-color:lightgrey;
}
